[submodule "modules/acul"]
	path = modules/acul
	url = ../acul.git
[submodule "modules/awin"]
	path = modules/awin
	url = ../awin.git
[submodule "cmake"]
	path = cmake
	url = ../acbt.git
[submodule "modules/ahtt"]
	path = modules/ahtt
	url = ../ahtt.git
