doctype html
html(lang="en") 
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title About Page
    link(rel="stylesheet", href="/style.css")
    script(src="/app.js")
  body
    section.hero
      h1 About Page
      p.content This is the about page.
      
      div.flex-spacer
      
      button.btn(onclick="goHome()") Back to Home
    
    footer.links
      a(href="https://example.com", target="_blank") _(external)
      a(href="about") _(about)